<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/bundles/jquery")"></script>
    <script src="@Url.Content("~/bundles/bootstrap")"></script>
    <script src="@Url.Content("~/bundles/knockout")"></script>
    <script src="@Url.Content("~/bundles/Helper")"></script>
    <script src="@Url.Content("~/bundles/PDFRendering")"></script>
    @*<script src="@Url.Content("~/bundles/modernizr")"></script>*@
</head>
<body>
    <ul id="menu">
        <li>@Html.ActionLink("View PDF", "Index", "PDFRendering",new { id="newpdf"})</li>
        <li>@Html.ActionLink("OpenPDF", "PDFResult", "PDFRendering", new { id = "OpenPDF" })</li>
        <li>@Html.ActionLink("About", "About", "Home", new { id = "OpenPDF" })</li>
    </ul>
    <section id="main">
        <p>Hahaaha:)</p>
        @RenderBody()

    </section>
</body>
</html>