<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @Styles.Render("~/PDFRendering/css")
   

    <title>@ViewBag.Title</title>
  
    
</head>
<body>
    <ul id="menu">
        <li>@Html.ActionLink("View PDF", "Index", "PDFRendering",new { id="newpdf"})</li>
        <li>@Html.ActionLink("OpenPDF", "PDFResult", "PDFRendering", new { id = "OpenPDF" })</li>
        <li>@Html.ActionLink("About", "About", "Home", new { id = "OpenPDF" })</li>
    </ul>
    <section id="main">
        <p>Hahaaha:)</p>
       
    </section>
    @RenderBody()
    @Scripts.Render("~/PDFRendering/jquery")
    @Scripts.Render("~/PDFRendering/bootstrap")
    @Scripts.Render("~/PDFRendering/knockout")
    @Scripts.Render("~/PDFRendering/Helpers")
    @Scripts.Render("~/PDFRendering/ProjectHelpers")
    @Scripts.Render("~/PDFRendering/modernizr")
</body>
</html>